button {
  margin: 4px;
  cursor: pointer;
}

.create-new-company {
  border: 1px solid #C7E4FF;
  background-color: #44aaf83c;
  border-radius: 10px;
}

fieldset {
  border: none;
  text-align: left;
}

form {
  padding: 5px;
}

h1 {
  margin-bottom: 10px;
}

input,
select {
  padding-left: 3px;
  height: 25px;
  margin: 2px;
}

.submit {
  cursor: pointer;
  margin: 5px;
}