a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: rgb(86, 193, 243);
  cursor: pointer;
}

img {
  margin: 5px;
}

.logo {
  display: inline;
  padding: 10px;
}

nav {
  display: inline;
  font-size: 20px;
  text-align: right;
  
}

li {
  list-style: none;
  padding: 2px;
  display: inline;
}